<!DOCTYPE html>
<html>
<head>
  <title>RailsSitemap</title>
  <%= stylesheet_link_tag    "rails_sitemap/application", media: "all" %>
  <%= javascript_include_tag "rails_sitemap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
